@import url('https://fonts.googleapis.com/css2?family=Monda:wght@400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-gauge text {
    fill: black !important;
    font-weight: 400;
    font-size: 24;
}  
