@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-gauge text {
    fill: black !important;
    font-weight: 400;
    font-size: 24;
}  

.home {
    background-image: url("assets/VAAYU.mp4");  
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;  
    justify-content: center;  
    text-align: center;  
}