@import url('https://fonts.googleapis.com/css2?family=Monda:wght@400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-gauge text {
    fill: black !important;
    font-weight: 400;
    font-size: 24;
}  

.card {
    background-image: url("./assets/bg.jpg"); 
    background-size: cover; 
    background-position: center;
    background-color: rgba(171, 149, 149, 0.5);
    background-blend-mode: multiply;
}